root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,cxx,hpp,hxx,json,toml,yaml,yml,md}]
indent_size = 2

[{*.go,go.mod,go.sum,Makefile,rules}]
indent_style = tab

[*.sh]
# The following lines are configuration for the `shfmt` tool.
# Please see `man shfmt` for more information.
shell_variant = posix
space_redirects = true
switch_case_indent = true
